{% extends 'base.html.twig' %}

{% block title %}New TraductionTarget{% endblock %}

{% block body %}
    <h1>Create new TraductionTarget</h1>

    {{ include('traduction_target/_form.html.twig') }}

    <a href="{{ path('traduction_target_index') }}">back to list</a>
{% endblock %}
